{
    body => \'index.tmpl',
    title => '',

    plugins => [
        qw/GetRemotePageTitle/
    ],

    plug_get_remote_page_title => {
        uri => [
            'http://fsdfsdfsdfsdfsdfsdqwerq35432145qw3erfsd.com',
            'http://zoffix.com',
        ],
    },
}

